@media screen{


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}  
body{
    background-color: aliceblue;
    margin: 0;
    min-width:768px;
    max-width: 1024px;
    min-height: 768px;
    right: 0;
}
#logoCadastro {
    width: 50%;
position: absolute;
height: 20%;
left: 27%;
top: 20%;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 80px;
text-align: center;
color: #13293D;
}
form.formularioEndereco{
    position: absolute;
        color: #006494;
        font-family: "Mukta Vaani";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        width: 50%;
        height: auto;
        left: 43%;
        top: 50%;
}
input{
    font-size: small;
        right: auto;
        width: 40%;
        height: 30px;
        left: auto;
    border-radius: 5px;
    border: 1px solid #7FE2F8;
        box-sizing: border-box;
}
#btCadastrar{
    position: absolute;
    width: 25%;
    height: 6%;
    left: 9%;
    top: 100%;
    background:#006494;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color:aliceblue;
    border: 2px solid #7FE2F8;
    opacity: 90%;
}
#btCadastrar:hover{
    background: #13293D;
    border: 3px solid #7FE2F8;
}
}