*{

    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  
}  
body{
    background-color: #7FE2F8;
    margin: 0;
    min-width:768px;
    max-width: 1024px;
    min-height: 768px;
    right: 0;
}
#logoCadastro {
    width: 50%;
position: absolute;
height: 20%;
left: 27%;
top: 20%;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 80px;
text-align: center;
color: #13293D;
}
.formularioEndereco{
    position: absolute;
        color: #006494;
        font-family: "Mukta Vaani";
        font-style: normal;
        font-weight: bold;
        font-size: larger;
        line-height: 20px;
        width: 50%;
        height: auto;
        left: 40%;
        top: 50%;
}
input{
    font-size: medium;
        right: auto;
        width: 50%;
        height: 28px;
        left: auto;
    border-radius: 5px;
    box-shadow: 1px;
    border: 1px solid #006494;
        box-sizing: border-box;
}
#btCadastrar{
    position: absolute;
    width: 30%;
    height: 10%;
    left: 11%;
    top: auto;
    background:#006494;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color:aliceblue;
    border: 2px solid #699099;
    opacity: 90%;
}
#btCadastrar:hover{
    background: #13293D;
    border: 3px solid #006494;
}