@media screen  {
    body {
        background: aliceblue;
      }
    
      .container {
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;
      }
    
      a {
        color: white;
        text-decoration: none;
      }
    
      a:hover {
        color: #7FE2F8;
      }
    
      li {
        list-style: none;
      }
    
      .nav {
        background: #90cf1a;
        background: -webkit-linear-gradient(to right, #030303, #000000);
        background: linear-gradient(to right, #000000, #289ee7);
        width: 100%;
        /* min-height: 8%;*/
        z-index: 3;
        top: 0;
        margin: 0;
        position: absolute;
      }
    
      #toggle {
        display: none;
      }
    
      label {
        color: white;
        cursor: pointer;
        margin: 0 18px 0 0;
        position: absolute;
        right: 10px;
        display: none;
      }
    
      /*flex box*/
      .menu ul {
        display: flex;
      }
    
      .menu ul li {
        margin: 0 30px;
        cursor: pointer;
        font-weight: bold;
      }
    
      #logo {
        color: rgb(245, 241, 241);
        font-family: Arial, Helvetica, sans-serif, solid;
        position: relative;
        font-size: 28px;
        word-spacing: 20px;
        top: 5%;
        left: 2px;
        z-index: 1;
      }
    
      header {
        left: 0;
      }
    
      header .container {
        justify-content: space-between;
      }
    #frase{
        width: 50%;
    position: absolute;
    height: 20%;
    left: 26%;
    top: 15%;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    color: #006494;
    }
#formularioLogin{
        position: absolute;
width: 20%;
height: auto;
left: 40%;
top: 45%;
color:#13293D;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
    }
input{
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    top: auto;
    z-index: 4;
    border: 1px solid #7FE2F8;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
    #entrarBt:hover{
        opacity: 85%;
        color: black;
        background-color: #006494;
        border: 4px solid azure;
    }
    #entrarBt{
        position: absolute;
    width: 38%;
    height: 20%;
    left: 32%;
    top: 100%;
    font-size: medium;
    background: #13293D;
    border-radius: 30px;
    text-align: center;
    color: azure;
    border: 4px solid #006494;
    }
    #lemonG {
        position: absolute;
        margin-top: 15px;
        z-index: 0;
        top: 70%;
        left: 14%;
        width: 20%;
      }
    
      #lemonG1 {
        position: absolute;
        top: 25%;
        right: 14%;
        width: 23%;
        z-index: 0;
      }
    
      #lemonpp {
        position: absolute;
        top: 40%;
        left: 6%;
        z-index: 0;
    
      }
    
      #lemonpp1 {
        right: 6%;
        position: absolute;
        top: 80%;
        z-index: 0;
      }
      @media (max-width: 564px){
        .container {
            flex-direction: column;
            align-items: flex-start;
      
          }
      
          label {
            display: block;
            cursor: pointer;
          }
      
          .menu {
            width: 100%;
          }
      
          .menu ul {
            flex-direction: column;
            display: none;
            text-align: center;
          }
      
          .menu ul li {
            margin: 10px 0;
            line-height: 20px;
          }
      
          /*mandiga css*/
          #toggle:checked+.menu ul {
            display: block;
          }
        #frase{
            width: 50%;
        position: absolute;
        height: 20%;
        left: 26%;
        top: 15%;
        font-family:Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        color: #006494;
        }
    #formularioLogin{
            position: absolute;
    width: 40%;
    height: auto;
    left: 38%;
    top: 45%;
    color:#13293D;
    font-family: "Mukta Vaani";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
        }
    input{
        position: absolute;
        width: 100%;
        height: 20%;
        left: 0;
        top: auto;
        z-index: 4;
        border: 1px solid #7FE2F8;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 16px;
        text-align: justify;
        line-height: 30px;
    }
        #entrarBt:hover{
            opacity: 85%;
            color: black;
            background-color: #006494;
            border: 4px solid azure;
        }
        #entrarBt{
            position: absolute;
        width: 53%;
        height: 20%;
        left: 19%;
        top: 100%;
        font-size: medium;
        background: #13293D;
        border-radius: 30px;
        text-align: center;
        color: azure;
        border: 4px solid #006494;
        }
        #lemonG {
            position: absolute;
            margin-top: 15px;
            z-index: -1;
            top: 70%;
            left: 14%;
            width: 20%;
          }
        
          #lemonG1 {
            position: absolute;
            top: 25%;
            right: 14%;
            width: 23%;
            z-index: -1;
          }
        
          #lemonpp {
            position: absolute;
            top: 40%;
            left: 6%;
            z-index: -1;
        
          }
        
          #lemonpp1 {
            right: 6%;
            position: absolute;
            top: 80%;
            z-index: -1;
          }
      }
}