body{
    background: #006494;
}


div .buttons{
    position: absolute;
    top:20%;
}
button{
    position: relative;
    left: 45%;
    background: aliceblue;
    padding: 1%;
    border-radius: 10px;
    margin: 0.5%;
    align-items: center;
    justify-items: legacy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #006494;
}
