@media screen {
    
    *{

        margin: 0;
      
        padding: 0;
      
        box-sizing: border-box;
      
    } 

body{
    background: #7FE2F8;
    
}
#logoCadastro {
    width: 50%;
position: absolute;
height: 20%;
left: 26%;
top: 8%;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 80px;
text-align: center;
color: #060606;
}
#boasVindas{
    position: absolute;
    font-size: 20px;
    color: #006494;
    text-align-last: center;
    top: 24%;
    left: 29%;
}
#formularioParceiro{
    position: absolute;
width: 20%;
height: auto;
left: 41%;
top: 45%;
color: #13293D;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
}
input{
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    top: auto;
    z-index: 4;
    border: 1px solid #006494;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: small;
    text-align: justify;
}
select{
    background: #006494;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 12px;
    border-radius: 5px;
}
option{
    background: #13293D;
    color: aliceblue;
    border: solid 2px #006494;
}
#corrente{
    position: absolute;
    left: 26%;
    width: 8%;
    height: 8%;
    top: 85.8%;
}
#poupanca{
    position: absolute;
    width: 8%;
    height: 8%;
    left: 26%;
    top: 91.8%;
}
#correntetxt{
    position: absolute;
    font-size: 18px;
    left: auto;
    width: auto;
    height: auto;
    top: 88%;
}
#poupancatxt{
    position: absolute;
    font-size: 18px;
    left: auto;
    width: auto;
    height: auto;
    top: 94%;
}
#btCadastrar{
    position: absolute;
    width: auto;
    height: 5%;
    left: 37%;
    top:auto;
    background:#006494;
    border-radius: 30px;
    font-family: "Mukta Vaani","Arial";
color: aliceblue;
font-weight: bold;
font-size: small;
text-align: center;
border: 2px solid black;
align-items: center;
}
#btCadastrar:hover{
    opacity: 75%;
    background: #13293D;
    color: aliceblue;
}
}