@media screen {
    
    *{

        margin: 0;
      
        padding: 0;
      
        box-sizing: border-box;
      
    } 

body{
    background: aliceblue;
    
}
#logoCadastro {
    width: 50%;
position: absolute;
height: 20%;
left: 26%;
top: 8%;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 80px;
text-align: center;
color: #060606;
}
#boasVindas{
    position: absolute;
    font-size: 20px;
    color: #006494;
    text-align-last: center;
    top: 24%;
    left: 29%;
}
#formularioParceiro{
    position: absolute;
width: 20%;
height: auto;
left: 41%;
top: 45%;
color: #13293D;
font-family: "Mukta Vaani";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
}
input{
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    top: auto;
    z-index: 4;
    border: 1px solid #006494;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: small;
    text-align: justify;
}
select{
    background: #006494;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 16px;
    border-radius: 5px;
}
option{
    background: #13293D;
    color: aliceblue;
    border: solid 2px #006494;
}
#corrente{
    position: absolute;
    left: 30%;
    width: 7%;
    top: 87.8%;
}
#poupanca{
    position: absolute;
    width: 7%;
    left: 33%;
    top: 94.1%;
}
#correntetxt{
    position: absolute;
    font-size: 18px;
    left: auto;
    width: auto;
    height: auto;
    top: 88%;
}
#poupancatxt{
    position: absolute;
    font-size: 18px;
    left: auto;
    width: auto;
    height: auto;
    top: 94%;
}
#btCadastrar{
    position: absolute;
        width: 30%;
        height: 6%;
        left: 38%;
        top: auto;
        background:#13293D;
        border-radius: 10px;
        font-family: "Mukta Vaani","Arial";
    color: aliceblue;
    font-weight: bold;
    font-size: small;
    text-align: center;
    border: 3px solid #7FE2F8;
}
#btCadastrar:hover{
    background: #006494;
    border: 3px solid #7FE2F8;
}
#lemonpp{
    position: absolute;
    margin-top:15px;
    z-index: 0;
    top: 20%;
    left: 180%;
}
#lemonpp1{
    position: absolute;
    top: 100%;
    right:130%;
    z-index: 0;
}
#lemonG{
    position: absolute;
    top:-130%;
    left: -130%;
    z-index: 0;
    top: 30%;
}
#lemonG1{
    right: -165%;
    position: absolute;
    top:80%;
    z-index: 0;
}

@media (max-width: 564px){
    #logoCadastro {
        width: 50%;
    position: absolute;
    height: 20%;
    left: 26%;
    top: 8%;
    font-family: "Mukta Vaani";
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 80px;
    text-align: center;
    color: #060606;
    }
    #boasVindas{
        position: absolute;
        font-size: 12px;
        color: #006494;
        text-align-last: center;
        top: 24%;
        left: 16%;
    }
    #formularioParceiro{
        position: absolute;
    width: 20%;
    height: auto;
    left: 36%;
    top: 45%;
    color:#715ebd;
    font-family: "Mukta Vaani";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    }
    input{
        position: absolute;
        width: 200%;
        height: 3%;
        left: 0;
        top: auto;
        z-index: 4;
        border: 1px solid #7FE2F8;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: small;
        text-align: justify;
    }
    #corrente{
        position: absolute;
        left: 96.8%;
        width: 20%;
        height: 6%;
        top: 87.1%;
    }
    #poupanca{
        position: absolute;
        width: 20%;
        height: 6%;
        left: 245%;
        top: 87.1%;
    }
    #correntetxt{
        position: absolute;
        font-size: 16px;
        left: auto;
        width: auto;
        height: auto;
        top: 88%;
        left: -5%;
    }
    #poupancatxt{
        position: absolute;
        font-size: 16px;
        right: -140%;
        width: auto;
        height: auto;
        top: 88%;
    }
    #btCadastrar{
        position: absolute;
        width: 120%;
        height: 4%;
        left: 33%;
        top:auto;
        background:#715ebd;
        border-radius: 30px;
        font-family: "Mukta Vaani","Arial";
    color: aliceblue;
    font-weight: bold;
    font-size: small;
    text-align: center;
    border: 2px solid black;
    align-items: center;
    }
    #btCadastrar:hover{
        opacity: 75%;
        color: black;
    }
    #lemonpp{
        position: absolute;
        margin-top:15px;
        z-index: -1;
        top: 20%;
        width: 70%;
        left: 180%;
    }
    #lemonpp1{
        position: absolute;
        top: 100%;
        width: 70%;
        right:130%;
        z-index: -1;
    }
    #lemonG{
        position: absolute;
        top:-130%;
        left: -130%;
        width: 140%;
        z-index: -1;
        top: 30%;
    }
    #lemonG1{
        right: -165%;
        width: 140%;
        position: absolute;
        top:80%;
        z-index: -1;
    }
}

}