@media screen {
    *{  
        margin: 0;
      
        padding: 0;
      
        box-sizing: border-box;


      
    } 
#envie{
    background-color:#13293D;
    color: aliceblue;
    border: 3px solid #7FE2F8;
    border-radius: 20px;
    width: 350px;
    height: 430px;
    text-align: center;

}

    } 

#textoConfirmacao{

    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    text-align: center justify;
    color: aliceblue;
}
#chave{
    justify-items: center;
}

#pixPago{
        position: absolute;
        width: 20%;
        right: 10%;
        height: auto;
        background:#006494;
        border-radius: 30px;
        font-family: "Mukta Vaani","Arial";
    color: aliceblue;
    font-weight: bold;
    font-size: small;
    text-align: center;
    border: 2px solid #7FE2F8;
    }
    #pixPago:hover{
        background: #7FE2F8;
    border: 3px solid #006494;
    color: #13293D;
}
#pixVoltar{
    position: absolute;
    width: 20%;
    height: auto;
    top: 30%;
    right: 10%;
    background:#13293D;
    border-radius: 30px;
    font-family: "Mukta Vaani","Arial";
color: aliceblue;
font-weight: bold;
font-size: small;
text-align: center;
border: 2px solid #7FE2F8;
}
#pixVoltar:hover{
    background: #006494;
border: 3px solid #7FE2F8;
}




