@media screen {
    *{

        margin: 0;
      
        padding: 0;
      
        box-sizing: border-box;
      
    } 
    body{
     background-color:  #7FE2F8;
       
    }
    #map{
        
        width:800px;
        height:50px;
    }
    .login{
        position: absolute;
        right:0.5%;
        font-size: 18px;
        text-shadow: 1px gray;
        color: aliceblue;
        align-items: flex-end;
        z-index: 1;
    }
    input{
        z-index: 1;
    }
    #logout{
        float: right;
        width: 6.5%;
        font-size: 18px;
        color: black;
        align-items:flex-end;
       z-index: 1;
    }
    #bt{
        position: absolute;
        font-size:14px;
        background: #715ebd;
        border: 1px solid black;
        right: 0%;
        border-radius: 10px;
        color: aliceblue;
        z-index: 1;
    }
    #bt:hover{
        opacity: 80%;
        color: black;
        border: 2px solid;
        
    }
    #txtDestino {
        color: white;
        position: absolute;
        font-size: 38px;
        top:28%;
        width:auto;
        height: 2%;
        z-index: 2;
        left:18%; 
        z-index: 1;
    }
    #localDestino{
        position: absolute;
        border: solid 5px white;
        width: 28%;
        height: 7%;
        top:40%;
        left:25%;
        border-radius: 5px;
        z-index: 1;
    }
    #a{
        position: absolute;
        top: 49%;
        font-size:14px;
        background: #715ebd;
        border:2px solid aliceblue;
        left: 52%;
        border-radius: 5px;
        width: auto;
        font-size: 14px solid;
        height: auto;
        padding: 0.4%;
        color:aliceblue;
        z-index: 1;
    }
    #a:hover{
        opacity: 80%;
        border: 2px solid black;
        color:black;
    }
    #sejaParceiro{
        background: #715ebd;
        color: aliceblue;
        font-size: 22px;
        border-radius: 5px;
        height: auto;
        width: 22%;
        border: 2px solid aliceblue;
        font-weight: 45px;
        padding: 0.5%;
    }
    #sejaParceiro:hover{
        opacity: 80%;
        border: 2px solid black;
        color:black;
    }
    #lemonp{
        position: absolute;
        margin-top:15px;
        z-index: 0;
        top: 75%;
        left: 18%;
    }
    #lemonp2{
        position: absolute;
        top: 20%;
        right:14%;
        z-index: 0;
    }
    #lemonp4{
        right: 6%;
        position: absolute;
        top:80%;
        z-index: 0;
    }
}