@media screen{


.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
  }
  
  a {
    color: white;
    text-decoration: none;
   
  }
  
  li {
    list-style: none;
    
  }
  
  .nav {
    background: #90cf1a;
    background: -webkit-linear-gradient(to right, #030303, #000000);
    background: linear-gradient(to right, #000000, #289ee7);
    width: 100%;
    min-height: 12%;
    z-index: 3;
    top:0;
    margin: 0;
    position: absolute;
  }
  header{
    left: 0;
  }
  header .container{
    justify-content: space-between;
  }

  
  #toggle {
    display: none;
  }
  
  label {
    color: white;
    cursor: pointer;
    margin: 0 20px 0 0;
    position: absolute;
    right: 10px;
    display: none;
  }
  
  /*flex box*/
  .menu ul {
    display: flex;
  }
  
  .menu ul li {
    margin: 0 30px;
    cursor: pointer;
    font-weight: bold;
  }
  
  @media (max-width : 739px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      max-width: 420px;
    }
  
    label {
      display: block;
      cursor: pointer;
    }
  
    .menu {
      width: 100%;
    }
  
    .menu ul {
      flex-direction: column;
      display: none;
      text-align: center;
    }
  
    .menu ul li {
      margin: 10px 0;
      line-height: 20px;
    }
  
    /*mandiga css*/
    #toggle:checked+.menu ul {
      display: block;
    }
    
}
#popUp{
    top: 8%;
    background-color: #fcfcfc;
    border: solid #000000;
    text-decoration: none;
position: absolute;
top: 18%;
margin: 0;
width:27%;
height: 50%;
margin-left: 1%;
border-radius: 25px;
color: #e5e3ec;
    z-index: 1;
    flex-wrap: wrap;
    
}
body{
  z-index: 2;
}
#legenda{
    width: auto;
    height: auto;
    font-size: auto;
    left: 6%;
    position: absolute;
    margin: 2%;
}
#localDestino{
    position: relative;
    background-color: rgb(218, 218, 218);
    height: 10%;
    width: 80%;
    margin-left: 10%;
    top: 31%;
    border-radius: 12px;
    font-size: medium;
}
#localDestino:hover{
background-color: rgb(244, 247, 244);
transition: border 0.2s cubic-bezier(0.2,0.8,0.4,1);

}
#map{
    z-index: -1;
    width:100%;
    height:100%;
    position: absolute;
}
#legenda{
    top: 10%;
    border: 6px;
    z-index: 1;
    font-size: 38px;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    color: black;
    position: absolute;
}
#seguirBt{
    position: absolute;
    width: 14%;
    height: 7%;
    left: 12%;
    top: 55%;
    background: -webkit-linear-gradient(to right, #030303, #000000);
  background: linear-gradient(to right, #000000, #289ee7);
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color:azure;
    border: 1px solid #699099;
    z-index: 1;   
}
#logo{
color: azure;
font-family: Roboto, solid;
position: relative;
font-size: 28px;
word-spacing: 20px;
top: 5%;
z-index: 1;
}
#lat{
  display: none;
}
#lon{
  display: none;
}
@media (max-width : 564px){
  #popUp{
  top: 8%;
  background-color: #fcfcfc;
  border: solid #000000;
  text-decoration: none;
position: absolute;
top: 20%;
margin: 0;
width:80%;
height: 45%;
left: 10%;
border-radius: 25px;
color: #e5e3ec;
  z-index: 1;
  flex-wrap: wrap;
}
#legenda{
  top: 12%;
  border: 6px;
  z-index: 1;
  font-size: 28px;
  font-weight: bold;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: black;
  position: absolute;
}
#localDestino{
  position: relative;
  background-color: rgb(218, 218, 218);
  height: 10%;
  width: 80%;
  left: 5%;
  top: 41%;
  border-radius: 8px;
  font-size: medium;
}
#localDestino:hover{
background-color: rgb(244, 247, 244);
transition: border 0.2s cubic-bezier(0.2,0.8,0.4,1);
}
#seguirBt{
  position: absolute;
  width: 27%;
  height: 7%;
  left: 60%;
  top: 55%;
  background: -webkit-linear-gradient(to right, #030303, #000000);
  background: linear-gradient(to right, #000000, #289ee7);
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color:azure;
  border: 1px solid #699099;
  z-index: 1;   
}
header{
  left: 0;
}
header .container{
  justify-content: space-between;
}
}}
