@media screen {
    *{

        margin: 0;
      
        padding: 0;
      
        box-sizing: border-box;
      
    } 

#termosBarra{
    position: relative;
    height: 20%;
    width: 36%;
    border-radius: 10px;
    background: #7FE2F8;
    text-align: center;
    border:solid 2px #13293D;
    left: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
div{
    left: 30%;
}
}
