@media screen {
    *{
        box-sizing: border-box;
    }
    body{
        background: #000000;
        margin: 0;
        min-width:100%;
        max-width: 100%;
        min-height: 100%;
        right: 0;
        flex-wrap: wrap;
    }

header{
    background-color: black;
    position: absolute;

margin: 0;
width: 100%;
height: 5%;
top: 0;
display: flex;
z-index: 1;

}
header.barrasuperior{
    top: 0;
    background-color: rgb(7, 7, 7);
    text-decoration: none;
position: absolute;
margin-top: -7%;
margin: 0;
width:100%;
height: 8%;
color: #715ebd;
    display: flex;
    font-size: 16px large;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
#logo{
    color: rgb(245, 241, 241);
    font-family: Roboto, solid;
    position: relative;
    font-size: 28px;
    word-spacing: 20px;
    top: 5%;
    z-index: 1;
}
header nav a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 6px;
    width: auto;
    text-align-last: right;
    text-transform: uppercase;
    word-spacing: 20px;
    z-index: 1;
    position: relative;
   
}
#indice{
    position: relative;
    text-align-last: right;
    top: auto;
    width: auto;
    height: auto;
    margin: auto;
    padding: 5px;
    right: 2%;
    flex-wrap: nowrap;
    align-items: center;
}
#log{
    position: relative;
    color: aliceblue;
    top: auto;
    width: auto;
    text-decoration: none;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}
i{
    color: white;
    margin: 0;
    height: auto;
    font-size: smaller;
}
i:hover{
    color: gray;
}

nav a:hover{
    color: #715ebd;
}

    #popUp{
        top: 8%;
        background-color: #7FE2F8;
        text-decoration: none;
    position: absolute;
    top: 15%;
    margin: 0;
    width:30%;
    height: 60%;
    margin-left: 1%;
    border-radius: 25px;
    color: #e5e3ec;
        z-index: 1;
        flex-wrap: wrap;
        
    }
    #legenda{
        width: auto;
        height: auto;
        font-size: auto;
        left: 6%;
        position: absolute;
        margin: 2%;
    }
    #localDestino{
        position: relative;
        background-color: rgb(218, 218, 218);
        height: 10%;
        width: 80%;
        margin-left: 5%;
        top: 30%;
        border-radius: 12px;
        font-size: medium;
    }
#localDestino:hover{
    background-color: rgb(244, 247, 244);
    transition: border 0.2s cubic-bezier(0.2,0.8,0.4,1);
    
}
    #map{
        z-index: 0;
        width:100%;
        height:100%;
        position: absolute;
    }
    #legenda{
        top: 10%;
        border: 6px;
        z-index: 1;
        font-size: 38px;
        font-weight: bold;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
        color: black;
        position: absolute;
    }}